# Ironhack Data Analytics Project2

## Barcelona citizens with ages +60

In [1]:
import pandas as pd

In [2]:
url_padro = "https://opendata-ajuntament.barcelona.cat/data/dataset/9e93c1db-118a-4520-99e6-b3b955c33758/resource/61d91b31-9ba9-45ca-9cc3-47bf99555b4b/download/2020_padro_edat_any_a_any_per_sexe.csv"

In [117]:
padro = pd.read_csv(url_padro)

In [118]:
padro

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat_any_a_any,Nombre
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98
...,...,...,...,...,...,...,...,...
14741,2020,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Home,100 anys i més,1
14742,2020,10,Sant Martí,70,el Besòs i el Maresme,Home,100 anys i més,1
14743,2020,10,Sant Martí,71,Provençals del Poblenou,Home,100 anys i més,0
14744,2020,10,Sant Martí,72,Sant Martí de Provençals,Home,100 anys i més,1
14745,2020,10,Sant Martí,73,la Verneda i la Pau,Home,100 anys i més,2

In [ ]:
# Adding a key column to the data set

In [119]:
padro["key"] = range(1, len(padro) + 1)

In [120]:
padro.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat_any_a_any,Nombre,key
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5

In [121]:
padro.columns

Index(['Any', 'Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri',
       'Sexe', 'Edat_any_a_any', 'Nombre', 'key'],
      dtype='object')

In [124]:
padro_columns = ['any', 'codi_districte', 'nom_districte', 'codi_barri', 'nom_barri',
       'sexe', 'edat', 'nombre', "key"]

In [125]:
padro.columns = padro_columns

In [126]:
padro.head()

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,edat,nombre,key
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5

In [135]:
years = pd.DataFrame(padro["edat"].str.split(" ", 1).tolist(),columns=["edats", "ref"])

In [136]:
years["key"] = range(1, len(years) + 1)

In [137]:
years

      edats         ref    key
0         0        anys      1
1         0        anys      2
2         0        anys      3
3         0        anys      4
4         0        anys      5
...     ...         ...    ...
14741   100  anys i més  14742
14742   100  anys i més  14743
14743   100  anys i més  14744
14744   100  anys i més  14745
14745   100  anys i més  14746

[14746 rows x 3 columns]

In [ ]:
# Mergin both data sets with the new column for the ages

In [203]:
padro_merge = pd.merge(padro, years, on='key')

In [204]:
padro_merge.head()

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,edat,nombre,key,edats,ref
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1,0,anys
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2,0,anys
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3,0,anys
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4,0,anys
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5,0,anys

In [140]:
# Dropping unecessary columns

In [205]:
padro_merge.drop(["ref"], axis=1, inplace=True)

In [206]:
padro_merge.head()

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,edat,nombre,key,edats
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1,0
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2,0
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3,0
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4,0
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5,0

In [ ]:
# Converting the object edats to int

In [210]:
padro_merge['edats'] = padro_merge.edats.astype(int)

#### Total Population by neightborhood

In [229]:
barri = padro_merge.groupby("nom_barri").sum()

In [230]:
new_barri = barri.reset_index()

In [231]:
new_barri.head()

,nom_barri,any,codi_districte,codi_barri,nombre,key,edats
0,Baró de Viver,408040,1818,11716,2625,1493689,10100
1,Can Baró,408040,1414,6868,9331,1488841,10100
2,Can Peguera,408040,1616,9494,2234,1491467,10100
3,Canyelles,408040,1616,9898,6869,1491871,10100
4,Ciutat Meridiana,408040,1616,11110,11091,1493083,10100

In [233]:
#Llista de barris amb nombre d´habitans

new_barri[["nom_barri", "nombre"]]

                        nom_barri  nombre
0                   Baró de Viver    2625
1                        Can Baró    9331
2                     Can Peguera    2234
3                       Canyelles    6869
4                Ciutat Meridiana   11091
..                            ...     ...
68  la Vila Olímpica del Poblenou    9385
69              la Vila de Gràcia   50926
70                      les Corts   46731
71                   les Roquetes   16417
72                les Tres Torres   16617

[73 rows x 2 columns]

### Total Population by district

In [217]:
districte = padro_merge.groupby("nom_districte").sum()

In [234]:
new_districte = districte.reset_index()

In [237]:
#Llista de districtes amb nombre d´habitants

new_districte[["nom_districte", "nombre"]]

         nom_districte  nombre
0         Ciutat Vella  108331
1             Eixample  270694
2               Gràcia  123651
3       Horta-Guinardó  174799
4            Les Corts   82635
5           Nou Barris  174012
6          Sant Andreu  151976
7           Sant Martí  241691
8       Sants-Montjuïc  187584
9  Sarrià-Sant Gervasi  151157

### Total population by age

In [241]:
padro_merge.head()

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,edat,nombre,key,edats
0,2020,1,Ciutat Vella,1,el Raval,Dona,0 anys,203,1,0
1,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,0 anys,59,2,0
2,2020,1,Ciutat Vella,3,la Barceloneta,Dona,0 anys,36,3,0
3,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,0 anys,59,4,0
4,2020,2,Eixample,5,el Fort Pienc,Dona,0 anys,98,5,0

In [245]:
padro_merge.groupby(["edats", "nom_districte"]).size()

edats  nom_districte
0      Ciutat Vella            8
       Eixample               12
       Gràcia                 10
       Horta-Guinardó         22
       Les Corts               6
                              ..
100    Nou Barris             26
       Sant Andreu            14
       Sant Martí             20
       Sants-Montjuïc         16
       Sarrià-Sant Gervasi    12
Length: 1010, dtype: int64

In [251]:
padro_merge.groupby(["nom_barri", "edats", "nombre"]).size()

nom_barri        edats  nombre
Baró de Viver    0      11        1
                        12        1
                 1      9         1
                        12        1
                 2      11        1
                                 ..
les Tres Torres  98     7         1
                 99     1         1
                        8         1
                 100    2         1
                        15        1
Length: 14528, dtype: int64

In [248]:
padro_merge.groupby(['nom_districte', 'edat', 'nombre']).size()

nom_districte        edat     nombre
Ciutat Vella         0 anys   36        1
                              44        1
                              58        1
                              59        2
                              83        1
                                       ..
Sarrià-Sant Gervasi  99 anys  6         1
                              8         1
                              11        1
                              13        1
                              24        1
Length: 13733, dtype: int64

In [256]:
elder = padro_merge[padro_merge["edats"] > 60]

In [257]:
elder

,any,codi_districte,nom_districte,codi_barri,nom_barri,sexe,edat,nombre,key,edats
4453,2020,1,Ciutat Vella,1,el Raval,Dona,61 anys,204,4454,61
4454,2020,1,Ciutat Vella,2,el Barri Gòtic,Dona,61 anys,86,4455,61
4455,2020,1,Ciutat Vella,3,la Barceloneta,Dona,61 anys,68,4456,61
4456,2020,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Dona,61 anys,98,4457,61
4457,2020,2,Eixample,5,el Fort Pienc,Dona,61 anys,234,4458,61
...,...,...,...,...,...,...,...,...,...,...
14741,2020,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Home,100 anys i més,1,14742,100
14742,2020,10,Sant Martí,70,el Besòs i el Maresme,Home,100 anys i més,1,14743,100
14743,2020,10,Sant Martí,71,Provençals del Poblenou,Home,100 anys i més,0,14744,100
14744,2020,10,Sant Martí,72,Sant Martí de Provençals,Home,100 anys i més,1,14745,100
14745,2020,10,Sant Martí,73,la Verneda i la Pau,Home,100 anys i més,2,14746,100

In [261]:
elder.groupby(["nom_districte", "edat", "nombre"]).size()

nom_districte        edat            nombre
Ciutat Vella         100 anys i més  1         3
                                     2         1
                                     5         2
                                     6         1
                                     9         1
                                              ..
Sarrià-Sant Gervasi  99 anys         6         1
                                     8         1
                                     11        1
                                     13        1
                                     24        1
Length: 5192, dtype: int64

In [262]:
elder.groupby(["nom_barri", "edat", "nombre"]).size()

nom_barri        edat            nombre
Baró de Viver    100 anys i més  0         2
                 61 anys         14        1
                                 15        1
                 62 anys         13        1
                                 24        1
                                          ..
les Tres Torres  97 anys         9         1
                 98 anys         1         1
                                 7         1
                 99 anys         1         1
                                 8         1
Length: 5751, dtype: int64